<h3>Work Order Was Submitted</h3>
<p>The following data was posted</p>


<div>
  <label for="fname">First Name</label><input class="form-control" id="fname" readonly="" value="{{fname}}" />
  <label for="lname">Last Name</label><input class="form-control" id="lname" readonly="" value="{{lname}}" />
  <label for="pn">Phone Number</label><input id="phoneNumber" class="form-control" readonly=""
    value="{{phoneNumber}}" />
  <label for="ma">Make</label><input id="make" class="form-control" readonly="" value="{{vehMake}}" />
  <label for="md">Model</label><input id="model" class="form-control" readonly="" value="{{vehModel}}" />
  <label for="yr">Year</label><input id="year" class="form-control" readonly="" value="{{vehYear}}" />
  <label for="ds">Problems</label><input id="problems" class="form-control" readonly="" value="{{vehProblem}}" />
</div>
<br />
<a href="/">
  <button type="submit" class="btn btn-primary">
    <p>Return to main</p>
  </button>
</a>