<h3>Confirm Work Order Data</h3>
<p>The following data will be posted:</p>

<form method="post" action="./completeWorkOrder">
  <label for="n">First Name</label><input class="form-control" name="fname" value="{{fname}}" />
  <label for="a">Last Name</label><input class="form-control" name="lname" value="{{lname}}" />
  <label for="d">Phone Number</label><input name="phoneNumber" class="form-control" value="{{phoneNumber}}" />
  <label for="c">Make</label><input name="make" class="form-control" value="{{vehMake}}" />
  <label for="q">Model</label><input name="model" class="form-control" value="{{vehModel}}" />
  <label for="r">Year</label><input name="year" class="form-control" value="{{vehYear}}" />
  <label for="s">Estimate</label><input name="cost" class="form-control" value="{{cost}}" />
  <label for="e">Problems</label><input name="problems" class="form-control" value="{{vehProblem}}" />
  <button type="submit" class="btn btn-primary">
    <p>Submit Work Order</p>
  </button>
</form>
<br />